@media only screen and (max-width: 600px) {

.one h1{
    color: rgb(255, 255, 255);
    text-align: center;    
    margin: 0;
    padding-top: 260px;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("téléchargement.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
}

